.contactItem {
    display: flex;
    flex: 1;
    margin-block-start: 3px;
    margin-block-end: 3px;
    word-break: break-all;
}

.contactItem .contactIcon {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-inline-end: 4px;
}

.contactItem a {
    color: #F8F8F8;
    text-decoration: none;
}