.sectionContainer {
    margin-block-end: 8px;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
}

.sectionIcon {
    font-size: 14px;
    line-height: 18px;
    margin-block-start: 14px;
    margin-block-end: 14px;
    padding-inline-end: 6px;
}

.sectionTitleName {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 8px;
}

.sectionBody {
    display: flex;
    margin-inline-start: 20px;
}

.sectionBody.withIcons {
    margin-inline-start: 4px;
}